//css mixins
@mixin pos-absolute {
  content: '';
  position: absolute;
}

@mixin absolute-max{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin display-flex-important {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@mixin display-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-direction-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-direction-column-reverse{
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

@mixin flex-direction-row{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-direction-row-reverse{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin justify-content-space-between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justify-content-space-around{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

@mixin justify-content-flex-start{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin align-items-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin align-items-flex-end{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin align-items-stretch{
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin align-items-flex-start{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin justify-content-flex-end{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin justify-content-center{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-wrap-wrap{
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin flexbox-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin translate3d($translateX,$translateY,$translateZ){
  -webkit-transform: translate3d($translateX,$translateY,$translateZ);
  -moz-transform: translate3d($translateX,$translateY,$translateZ);
  transform: translate3d($translateX,$translateY,$translateZ);
}

@mixin transform-origin($x: center, $y: center) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transition($args: all .3s) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin outline($value) {
  outline: $value;
  -webkit-appearance: $value;
  -moz-appearance: $value;
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  appearance: $value;
}

@mixin box-shadow($value: 0 4px 10px rgba(0, 0, 0, 0.1)) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

/*========================================
  MEDIA
========================================*/
@mixin min-large() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin min-medium() {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin min-small() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin min-extra-small() {
  @media only screen and (max-width: 576px) {
    @content;
  }
}
/*========================================
  MEDIA:END
========================================*/

/*========================================
  FONTS MIXINS
========================================*/

/*========================================
  FONTS MIXINS:END
========================================*/